# ===== Regra genérica: qualquer projeto dentro de /projects =====

# 1) Ignora TUDO que estiver em /projects
/projects/**

# 2) Reabra /projects e cada subpasta imediata (cada projeto)
!/projects/
!/projects/*/

# 3) Permita, para QUALQUER projeto (pasta logo abaixo de /projects), estas pastas e seus conteúdos:
!/projects/*/DWIN_SET/
!/projects/*/DWIN_SET/**
!/projects/*/image/
!/projects/*/image/**
!/projects/*/TFT/
!/projects/*/TFT/**
!/projects/*/DWprj.hmi
!/projects/*/DWprj.tft

!.gitignore

/.browser/
/.metadata/
/outgoing/

.pdm/
.settings/
.uceditor/
autogen/
config/
gecko_sdk_4.4.6/
GNU ARM v12.2.1 - Default/